.mat-form-field{
    font-size: 40px;
    width: 100%;
}

.centrado {
    display: flex;
    justify-content: center;
  }
  .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}