<h2 mat-dialog-title>{{tituloaccion}} </h2>
<mat-dialog-content class="dialog-content">
<h1>Denegar o aceptar la Solicitud</h1>
<form [formGroup]="formEstado">
    <mat-grid-list cols="1" rowHeight="80px">
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estado">
      <mat-option value="pendiente">Pendiente</mat-option>
      <mat-option value="aceptada">Aceptada</mat-option>
      <mat-option value="denegar">Denegar</mat-option>
    </mat-select>
  </mat-form-field>
</mat-grid-list>
</form>


<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button  color="Primary"
    (click)="addEditarEmpleado()"
    [disabled]="formEstado.invalid"
    >{{BotonAccion}}</button>
  </mat-dialog-actions>
</mat-dialog-content>