<div style="width: 90%;margin: 40px auto;">
   

    <h1>    Lista Usuario </h1>
   
   <h1></h1>
    <mat-form-field>
       <mat-label>Buscar</mat-label>
       <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
     </mat-form-field>
   
     <div class="table-container">
   <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource">
      <caption>Lista Uusarios</caption>
         
       <!-- Definición de columnas -->
       <ng-container matColumnDef="idUsuario">
         <th mat-header-cell *matHeaderCellDef> idUsuario </th>
         <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
       </ng-container>
       
       <ng-container matColumnDef="idEmpleado">
         <th mat-header-cell *matHeaderCellDef> idEmpleado </th>
         <td mat-cell *matCellDef="let element"> {{element.idEmpleado}} </td>
       </ng-container>
   
       <ng-container matColumnDef="correo">
         <th mat-header-cell *matHeaderCellDef> correo </th>
         <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
       </ng-container>
       
       <ng-container matColumnDef="rol">
         <th mat-header-cell *matHeaderCellDef> rol </th>
         <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
       </ng-container>
       
   
       <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef style="width:80px;"> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary" *ngIf="element.rol === 2 || element.rol === 3"  (click)="verAprobacionSolicitudes(element.idUsuario,element.idEmpleado)">
            APROVACION SOLICITUDES
          </button> 
        </td>
      </ng-container>
      <ng-container matColumnDef="enviadas">
        <th mat-header-cell *matHeaderCellDef style="width:80px;"> Solicitudes Enviadas </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary" (click)="verSolicitudes(element.idUsuario,element.idEmpleado)" >
            VER SOLICITUDES
          </button>
        </td>
      </ng-container>
       
       <!-- Definición de filas -->
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     
       <mat-paginator [pageSizeOptions]="[8, 16, 24]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements">
       </mat-paginator>
     </div> </div>
    </div>